<strong>Olá, {{ deliveryman }}!</strong>
<p>Um pedido atribuído a você foi cancelado, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Problema: </strong> <br />
  <span style="font-style: italic;">
    {{ description }}
  </span> <br />
  <br />
</p>
